#Banner3dParent {
  background-image: url('./assets/hexagon-bg.png');
  filter: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  aspect-ratio: 7/5;
}

#Banner3dParent::before {
  content: '';
  position: absolute;
  background: radial-gradient(circle, #00000000 0%, #161b1e8e 30%, #161b1e 65%, #161b1e 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  touch-action: none;
  pointer-events: none;
}

#Banner3dParent>* {
  position: relative;
  z-index: 2;
}



