@import "tailwindcss";

@theme{
  --color-primary: #161b1e;
  --color-primary-alt: #22282a;
  --color-secondary: #ebeaef;
  --color-secondary-alt: #cfcfcf;
  --color-tertiary: #1ce480;
  --color-dark: #111;
  --color-dark-alt: #22282a;
  --color-light: #fff;
  --color-gray: #eeeeee;
}

* {
  /* outline: solid blue 1px; */
  /* box-sizing: border-box; */
}


:root {
  /* line-height: 1.5;
    font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(83, 61, 61, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  --primary-color: #161b1e;
  --primary-color-alt: #22282a;
  --secondary-color: #ebeaef;
  --secondary-color-alt: #cfcfcf;
  --tertiary-color: #1ce480;
  --dark-color: #111;
  --dark-color-alt: #22282a;
  --light-color: #fff;
  --gray-color: #eeeeee;
  --font-mono: "Roboto Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: Poppins, Roboto, sans-serif;
  
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

a {
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
}



::-webkit-scrollbar {
  background: transparent;
  position: fixed;
  width: .3em;
  height: 5px;
  padding: 0;
}

::-webkit-scrollbar-thumb {
  background: #5fe736;
  border-radius: 5px;
}